{% extends 'base.html' %}

{% block content %}
<div class="col-md-10 db-content">
    <div class="add-heading">
        <h3 class="heading-cm">
            <a href="{% url "index" %}" class="nav-icon me-2">
                <i class="fa-solid fa-angle-left"></i>
            </a>
            Contacts<span class="sub-nav ms-2"> > All Contacts</span>
        </h3>
        <p><a href="{% url 'create_contact' %}">Add Contacts</a></p>
    </div>

    <table id="sampleTable" class="table hover-table" style="width:100%">
        <thead>
            <tr>
                <th>S. No.</th>
                <th>Full Name</th>
                <th>Phone Number</th>
                <th>Email Address</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ contact.full_name }}</td>
                <td>{{ contact.phone_number }}</td>
                <td>{{ contact.email_address }}</td>
                <td>
                    <div class="d-flex kit-action-com">
                        <div class="action-btn-pen">
                            <a href="" method="put"><span class="material-symbols-outlined">
                                visibility
                                </span></a>
                        </div>
                        <div class="action-btn-pen">
                            <a href="" method="put"><span class="material-symbols-outlined">
                                        edit
                                        </span></a>
                        </div>
                        <div class="action-btn-pen dlt-btn">
                            <a href="" method="put" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><span class="material-symbols-outlined ">
                                    delete
                                    </span></a>
                        </div>
                        <form class="action-btn-dlt" action="{% url 'delete_contact' contact.id %}" method="GET">
                            {% csrf_token %}
                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered confirmation-modal">
                                    <div class="modal-content">
                                        <div class="modal-body delete-body">
                                            <span class="material-symbols-outlined delete-icon">cancel</span>
                                            <h3 class="mb-2">Are you sure?</h3>
                                            <p>Do you really want to delete this contact?<br></p>
                                            <input type="hidden" name="id" value={{ contact.id }}>
                                        </div>
                                        <div class="modal-footer d-flex justify-content-center">
                                            <div class="row d-flex">
                                                <div class="col-md-12">
                                                    <button type="button" class="btn cancel-btn" data-bs-dismiss="modal">Cancel</button>
                                                    <button type="submit" class="btn btn-danger delete-btn">Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
