{% extends 'base.html' %}

{% block content %}
    <div class="col-md-10 db-content">
        <div class="add-heading">
            <h3 class="heading-cm">
                <a href="{% url "index" %}" class="nav-icon me-2">
                    <i class="fa-solid fa-angle-left"></i>
                </a>
                Groups<span class="sub-nav ms-2"> > {{group.name}}</span>
            </h3>
            <p><a href="{% url 'view_groups' %}">View Groups</a></p>
        </div>

        <div class="form-cm">
            <div class="col-md-12">
                <h3 class="create-form-heading">{{group.name}}</h3>
            </div>

            <div class="row mb-2">
                <div class="mb-3 col-md-12">
                    <p>{{group.description}} </p>
                </div>
            </div>
        </div>
        
        <div class="row mb-2 form-cm">
            <h3 class="create-form-heading" style="margin-bottom: 20px;">Group Members</h3>
            <div class="col-md-12 group-member">
               {% include 'contacts_table.html' %}
            </div>
        </div>
    </div>
{% endblock content %}