{% extends 'base.html' %}

{% block content %}
  <div class="col-md-10 db-content">
    <div class="add-heading">
        <h3 class="heading-cm">
            <a href="{% url "index" %}" class="nav-icon me-2">
                <i class="fa-solid fa-angle-left"></i>
            </a>
            Groups<span class="sub-nav ms-2"> > All Groups</span>
        </h3>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for group in groups %}
          <div class="col">
              <a href="{% url 'group' group.id %}" class="kit-card-link">
                  <div class="card kit-card h-100">
                      <span class="members">{{ group.members_count }}<br> Members</span>
                      <h2><span class="material-symbols-outlined">sort</span>{{ group.name }}</h2>
                      <p class="mt-3 mb-0">{{ group.description|slice:":100" }}{{ '...' }}</p>
                  </div>
              </a>
          </div>
        {% endfor %}
    </div>      
  </div>
{% endblock content %}
  