{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="col-md-10 db-content">
  <div class="add-heading">
      <h3 class="heading-cm">
          <a href="" class="nav-icon me-2">
              <i class="fa-solid fa-angle-left"></i>
          </a>
          Compose Mail<span class="sub-nav ms-2"> > Create Mail</span>
      </h3>
      <p><a href="{% url 'all_mails' %}">View All</a></p>
  </div>


  <form action="{% url 'index' %}" method="POST" class="form-cm" enctype="multipart/form-data" id="myForm">
    {% csrf_token %}
      <div class="col-md-12">
          <h3 class="create-form-heading">Compose Mail</h3>
      </div>

      <div class="row mb-2">
          <div class="mb-3 col-md-12">
              <label for="" class="form-label cm">Mail Subject</label>
              <input type="text" {% if message %} value="{{ message.subject }}" {% endif %} class="form-control cm" placeholder="Enter subject" name="subject">
          </div>
      </div>

      <div class="row mb-2">
          <div class="mb-3 col-md-12">
              <label for="" class="form-label cm">Mail message</label>
              <textarea  id="mailBox" name="mailBox" class="form-control cm">{% if 'message' %}{{ message.content }}{% endif %}</textarea>
          </div>
      </div>

      <div class="row mb-2">
          <div class="mb-3 col-md-12">
              <label for="" class="form-label cm">Choose Group</label>
              <div class="checkbox-group">
                {% for group in groups %}
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="group" value={{ group.id }} >
                  <label class="form-check-label">
                    {{ group.name }}
                  </label>
                </div>
                {% endfor %}
              
              </div>
          </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12 text-end">
            <button type="submit" name="draft" class="btn btn-primary draft">Draft</button>
            <button type="submit" name="sent" class="btn btn-primary">Send Mail</button>
        </div>
      </div>

  </form>                    
</div>
{% endblock content %}
  